.spacer {
  flex: 1 1 auto;
}

.posts-container {
  padding-top: 100px;
  padding-bottom: 24px;
  display: flex;
  flex-direction: column;
  gap: 16px;
  max-height: 100vh;
  overflow-y: auto;
}

.post-card {
  margin-bottom: 16px;
}
